<h1>Make your form here</h1>
<form action="new" method="get">
  Pirate Name: <input type="text" name="name[name]">
  Pirates Weight: <input type="text" name="weight[weight]">
  Pirates Height: <input type="text" name="height[height]">
  Ship Name: <input type="text" name="name[name]">
  Ship Type: <input type="text" type="type[type]">
  Ships Booty Attributes: <input type="text" attrs=?????>
  <input type="submit">
</form>


 




  




