<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pirate Page</title>
  </head>
  <body>

    <form action="/new" method="POST">
      <h2>Pirates!</h2>
      <label for="name">Name: </label>br
      <input type="text" name="name" id="pirate[name]"><br>
      <label for="weight">Weight: </label><br>
      <input type="text" name="weight" id="pirate[weight]"><br>
      <label for="height">Height: </label><br>
      <input type="text" name="height" id="pirate[height]"><br>

      <h2>Ships</h2>
      <!-- ship one -->
      <label for="name">Name: </label>br
      <input type="text" name="name" id="ship_name_1"><br>
      <label for="type">Type: </label><br>
      <input type="text" name="type" id="ship_type_1"><br>
      <label for="booty">Booty: </label><br>
      <input type="text" name="booty" id="ship_booty_1"><br>
      <!-- ship two -->
      <label for="name">Name: </label>br
      <input type="text" name="name" id="ship_name_1"><br>
      <label for="type">Type: </label><br>
      <input type="text" name="type" id="ship_type_1"><br>
      <label for="booty">Booty: </label><br>
      <input type="text" name="booty" id="ship_booty_1"><br>
    </form>
  </body>
</html>
