<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create New</title>
  </head>

  <body>
    <h1>Pirates & Ships</h1>

    <form method="post" action="/pirates">
      <label class="pirate" for="pirate[name]">Pirate Name:</label> <input type='text' name="pirate[name]"><br>
      <label class="pirate" for="pirate[weight]">Pirate Weight:</label> <input type='text' name="pirate[weight]"><br>
      <label class="pirate" for="pirate[height]">Pirate Height:</label> <input type='text' name="pirate[height]"><br>
      <label class="ship" for="ship[name]">Ship 1 Name:</label> <input id="ship_name_1" type='text' name="pirate[ships][][name]"><br>
      <label class="ship" for="ship[type]">Ship 1 Type:</label> <input id="ship_type_1" type='text' name="pirate[ships][][type]"><br>
      <label class="ship" for="ship[booty]">Ship 1 Booty:</label> <input id="ship_booty_1" type='text' name="pirate[ships][][booty]"><br>
      <label class="ship" for="ship[name]">Ship 2 Name:</label> <input id="ship_name_2" type='text' name="pirate[ships][][name]"><br>
      <label class="ship" for="ship[type]">Ship 2 Type:</label> <input id="ship_type_2" type='text' name="pirate[ships][][type]"><br>
      <label class="ship" for="ship[booty]">Ship 2 Booty:</label> <input id="ship_booty_2" type='text' name="pirate[ships][][booty]"><br>
      <input type="submit" value="Submit">
    </form>

  </body>
<html>
