<h1>Make your form here</h1>
<form action="new" method="get">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirates Weight: <input type="text" name="pirate[weight]">
  Pirates Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship Type: <input type="text" type="pirate[ships][][type]">
  Ships Booty Attributes: <input type="text" booty="pirate[ships][][booty]">
  <input type="submit">
</form>


 




  




