<h1>Make your form here</h1>

<form method="post" action="/pirates">
    Pirate name: <input type="text" name="pirate[name]"><br>
    Pirate height: <input type="text" name="pirate[height]"><br>
    Pirate weight: <input type="text" name="pirate[weight]"><br><br>
    Ship name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br>
    Ship type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br>
    Ship booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br><br>
    Ship name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br>
    Ship type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br>
    Ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br><br>
    <input type="submit" name="Submit" value="Submit">
</form>
