<form action="/pirates" method="post">

  <label>Pirate Name:</label>
  <input type="text" name="pirate[name]" placeholder="Pirate Name"></br></br>
  <label>Pirate Weight:</label>
  <input type="text" name="pirate[weight]" placeholder="Pirate Weight"></br></br>
  <label>Pirate Height:</label>
  <input type="text" name="pirate[height]" placeholder="Pirate Height"></br></br>

  <label>Ship Name:</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]"></br></br>
  <label>Ship Type:</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]"></br></br>
  <label>Ship Booty:</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></br></br>

  <label>Ship Name:</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]"></br></br>
  <label>Ship Type:</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]"></br></br>
  <label>Ship Booty:</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></br></br>

  <label>Submit:</label>
  <input type="submit" value="AAARRRGGGH!!!">

</form>
