<html>
<form action="/new" method="post">

Name: <input type="text" name="pirate[name]">
Weight: <input type="text" name="pirate[weight]">
Height: <input type="text" name="pirate[height]">

Ship name: <input type="text" name="pirate[ships][][name]">
Ship type: <input type="text" name="pirate[ships][][type]">
Ship booty: <input type="text" name="pirate[ships][][booty]">
<input type="submit">

Ship name: <input type="text" name="pirate[ships][][name]">
Ship type: <input type="text" name="pirate[ships][][type]">
Ship booty: <input type="text" name="pirate[ships][][booty]">
<input type="submit">

</form>
  <body></body>
</html>