<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Nested Forms Lab: Pirates!</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <p>Hello</p>
    
  

  </body>
</html>