<h1>Make your form here</h1>
<form method="post" action = "/pirates">
<label for = "pirate[name]">Pirate's Name:</label>
<input type = "text" name = "pirate[name]"><br>
<label for = "pirate[height]"> Height: </label>
<input type = "text" name = "pirate[height]"><br>
<label for = "pirate[weight]"> weight: </label>
<input type = "text" name = "pirate[weight]"><br>
<label for = "pirate[ships][][name]"> Ship's Name: </label>
<input id = "ship_name_1" type = "text" name = "pirate[ships][][name]"><br>
<label for = "pirate[ships][][type]"> Type: </label>
<input id = "ship_type_1" type = "text" name = "pirate[ships][][type]"><br>
<label for = pirate[ships][][booty]"> booty: </label>
<input id = "ship_booty_1" type = "text" name = "pirate[ships][][booty]"><br>
<label for = "pirate[ships][][name]"> Ship's Name: </label>
<input id = "ship_name_2" type = "text" name = "pirate[ships][][name]"><br>
<label for = "pirate[ships][][type]"> Type: </label>
<input id = "ship_type_2" type = "text" name = "pirate[ships][][type]"><br>
<label for = pirate[ships][][booty]"> booty: </label>
<input id = "ship_booty_2" type = "text" name = "pirate[ships][][booty]"><br>
<input id = "Submit" type = "submit" values = "Submit">
</form>