<!DOCTYPE HTML>
<html>
<h1>Make your form here</h1>
<form action='pirates' method = 'post' label for='pirates'>
    <h2>Pirate Name: <input type='text' name='pirate[name]' label for='pirate[name]'></h2>
    <h2>Pirate Weight: <input type='text' name='pirate[weight]' label for='pirate[weight]'></h2>
    <h2>Pirate Height: <input type='text' name='pirate[height]' label for='pirate[height]'></h2>
    <h2>Ship #1 Name: <input type='text' name='pirate[ships][][name]' label for='pirate[ships][][name]'></h2>
    <h2>Ship #1 Type: <input type='text' name='pirate[ships][][type]' label for='pirate[ships][][type]'></h2>
    <h2>Ship #1 Booty: <input type='text' name='pirate[ships][][booty]' label for='pirate[ships][][booty]'></h2>
    <h2>Ship #2 Name: <input type='text' name='pirate[ships][][name]' label for='pirate[ships][][name]'></h2>
    <h2>Ship #2 Type: <input type='text' name='pirate[ships][][type]' label for='pirate[ships][][type]'></h2>
    <h2>Ship #2 Booty: <input type='text' name='pirate[ships][][booty]' label for='pirate[ships][][booty]'></h2>
    <h2><input type='submit' name='Submit'></h2>
</form>
</html>