<h1>Make your Pirate here</h1>

<form method="post" action="/pirates">
  <label for="name"> Pirate Name:</label>
  <input type="text" id="pirate_name" name="pirate[name]">
  <label for="breed"> Pirate Height:</label>
  <input type="text" id="pirate_height" name="pirate[height]">
  <label for="age"> Pirate Weight:</label>
  <input type="text" id="pirate_weight" name="pirate[weight]">
  <br>
  <label for="name"> Ship Name:</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label for="name"> Ship Type:</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label for="name"> Ship Booty:</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <br>
  <label for="name"> Ship Name:</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label for="name"> Ship Type:</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label for="name"> Ship Booty:</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
