<form action="/pirates" method="post"> 
  <label>Pirate:</label> 
  <input type="text" id="pirate_name" name="pirate[name]">
  <input type="text" id="pirate_weight" name="pirate[weight]">
  <input type="text" id="pirate_height" name="pirate[height]">
  
  <label>Ship 1:</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  <label>Ship 2:</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
