<h1>Make your form here</h1>
<form method="POST" action="/pirates">
    <label name="pirate_name">Pirate name:</label>
    <input type="text" name="pirate[name]" id="pirate_name"/>

    <label name="pirate_weight">Pirate weight:</label>
    <input type="text" name="pirate[weight]" id="pirate_weight">

    <label name="pirate_height">Pirate height:</label>
    <input type="text" name="pirate[height]" id="pirate_height">
    
    <label name="ship_name_1">Pirate ship 1 name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">

    <label name="ship_type_1">Pirate ship 1 type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1">

    <label name="ship_booty_1">Pirate ship 1 booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">

    <label name="ship_name_2">Pirate ship 2 name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">

    <label name="ship_type_2">Pirate ship 2 type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2">

    <label name="ship_booty_2">Pirate ship 2 booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">

    <input type="submit" id="Submit">
</form>