<h1>Make your form here</h1>
<form action="/pirates" method="post">
  
  <label for="pname">Pirate Name: </label>
    <input type="text" id="pname" name="pirate[name]">
  <label for="pheight">Pirate Height: </label> 
    <input type="text" id="pheight" name="pirate[height]">
  <label for="pweight">Pirate Weight: </label> 
    <input type="text" id="pweight" name="pirate[weight]">
    
  <label for="sname_1">Ship Name: </label>   
    <input type="text" id="sname_1" name="pirate[ships][][name]">
  <label for="stype_1">Ship Type:</label>   
    <input type="text" id="stype_1" name="pirate[ships][][type]">
  <label for="sbooty_1">Ship Booty:</label>   
  <input type="text" id="sbooty_1" name="pirate[ships][][booty]">
  
  <input type="submit">
</form>