<h1>Log your Pirate</h1>

<form action="/pirates" method="post">
  <h2>Pirate</h2>
  <label>Name: </label><input type="text" name="pirate[name]">
  <label>Weight: </label><input type="text" name="pirate[weight]">
  <label>Height: </label><input type="text" name="pirate[height]">

  <h2>Ship 1</h2>
  <label>Name: </label><input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label>Type: </label><input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label>Booty: </label><input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  <h2>Ship 2</h2>
  <label>Name: </label><input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label>Type: </label><input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label>Booty: </label><input type="text" id="ship_booty_2" name="pirate[ships][][booty]">

  <input type="submit" id="Submit">
</form>
