<form method="POST" action="/pirates">
<h2>Pirate</h2>

<label for="pirate_name">Name</label>
<input type="text" id="pirate_name" name="pirate[name]"></input>

<label for="pirate_weight">Weight</label>
<input type="text" id="pirate_weight" name="pirate[weight]"></input>

<label for="pirate_height">Height</label>
<input type="text" id="pirate_height" name="pirate[height]"></input>

<h2>Ship 1</h2>

<label for="ship_name_1">Name</label>
<input type="text" id="ship_name_1" name="pirate[ships][][name]"></input>

<label for="ship_type_1">Weight</label>
<input type="text" id="ship_type_1" name="pirate[ships][][type]"></input>

<label for="ship_booty_1">Height</label>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></input>

<h2>Ship 2</h2>

<label for="ship_name_2">Name</label>
<input type="text" id="ship_name_2" name="pirate[ships][][name]"></input>

<label for="ship_type_2">Weight</label>
<input type="text" id="ship_type_2" name="pirate[ships][][type]"></input>

<label for="ship_booty_2">Height</label>
<input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></input>

<input type="submit" value="Submit"></input>
</form>
