<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <p>
    <label for :pirate[name]> Name</label>
    <input type ="text" name="pirate[name]" id="pirate[name]">
  </p>
  <p>
    <label for :pirate[weight]> Weight</label>
    <input type ="text" name="pirate[weight]" id="pirate[weight]">
  </p>
  <p>
    <label for :pirate[height]>Height </label>
    <input type ="text" name="pirate[height]" id="pirate[height]">
  </p>
  <p>
    <label for :pirate[ship][][name> Ship name</label>
    <input type ="text" name="pirate[ship][][name]" id="pirate[ship][][name]">
  </p>
  <p>
    <label for :pirate[ship][][type]> Type</label>
    <input type ="text" name="pirate[ship][][type]" id="pirate[ship][][type]">
  </p>
  <p>
    <label for :pirate[ship][][booty]>Booty</label>
    <input type ="text" name="pirate[ship][][booty]" id="pirate[ship][][booty]">
  </p>
    <p>
    <label for :pirate[ship][][name> Name</label>
    <input type ="text" name="pirate[ship][][name]" id="pirate[ship][][name]">
  </p>
  <p>
    <label for :pirate[ship][][type]> Weight</label>
    <input type ="text" name="pirate[ship][][type]" id="pirate[ship][][type]">
  </p>
  <p>
    <label for :pirate[ship][][booty]>Height </label>
    <input type ="text" name="pirate[ship][][booty]" id="pirate[ship][][booty]">
  </p>

  <input type='submit' name='submit' value='submit'>
</form>