<h1>Make your form here</h1>

<form method="post" action="/pirates">
  <label for="Pirate Name">Pirate Name</label>
  <input type="text" id="name" name="pirate[name]">
  <label for="Pirate Weight">Pirate Weight</label>
  <input type="text" id="weight" name="pirate[weight]">
  <label for="Pirate Height">Pirate Height</label>
  <input type="text" id="height" name="pirate[height]">
  
  <label for="Ship Name 1">ship Name</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label for="Ship Type 1">ship type</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label for="Ship Booty 1">ship booty</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  
  <label for="Ship Name 2">ship Name</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label for="Ship Type 2">ship type</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label for="Ship Booty 2">ship booty</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value='Submit'> 
</form>