<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <p>Pirate Name: </p><input type="text" name="pirate[name]">
  <p>Pirate Wieght: </p><input type="text" name="pirate[weight]">
  <p>Pirate Height: </p><input type="text" name="pirate[height]">
  <p>Ship Name: </p><input type="text" name="pirate[ships][][name]">
  <p>Ship Type: </p><input type="text" name="pirate[ships][][type]">
  <p>Ship Booty: </p><input type="text" name="pirate[ships][][booty]">
  <p>Ship Name: </p><input type="text" name="pirate[ships][][name]">
  <p>Ship Type: </p><input type="text" name="pirate[ships][][type]">
  <p>Ship Booty: </p><input type="text" name="pirate[ships][][booty]">
  <input type="submit">
</form>
