<form method="post" action='/pirates'>
    <h2>Pirate</h2>
    <label for="pirate[name]">Name: </label>
    <input type="text" id="pirate_name" name="pirate[name]"> <br>

    <label for="pirate[weight]">Weight: </label>
    <input type="text" id="pirate_weight" name="pirate[weight]"> <br>

    <label for="pirate[height]">Height: </label>
    <input type="text" id="pirate_height" name="pirate[height]"> <br><br>

    <h2>Ship(s)</h2>
    <label for="pirate[ships][][name]">Ship 1 Name: </label>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>

    <label for="pirate[ships][][type]">Ship 1 Type: </label>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>

    <label for="pirate[ships][][booty]">Ship 1 Booty: </label>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br><br>


    <label for="pirate[ships][][name]">Ship 2 Name: </label>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>

    <label for="pirate[ships][][type]">Ship 2 Type: </label>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>

    <label for="pirate[ships][][booty]">Ship 2 Booty: </label>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>

    <button type="submit" value="submit">Submit</button>

</form>
