<!--Step 4: make sure your db, models, and routes are lined up before working here! -->

<h1>Make your form here</h1>
<form action='/pirates' method='post'>
    <label for="pirate_name"> Pirate Name:</label><br>
    <input type="text" id="pirate_name" name="pirate[name]"><br>

    <label for="pirate_weight">Pirate Weight:</label><br>
    <input type="text" id="pirate_weight" name="pirate[weight]"><br>

    <label for="pirate_height">Pirate Height:</label><br>
    <input type="text" id="pirate_weight" name="pirate[height]"><br>


    <label for="ship_name">Ship No. 1 Name:</label><br>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
    
    <label for="ship_type">Ship No. 1 Type:</label><br>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
    
    <label for="ship_booty">Ship No. 1 Booty:</label><br>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>

    <label for="ship_name">Ship No. 2 Name:</label><br>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
    
    <label for="ship_type">Ship No. 2 Type:</label><br>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
    
    <label for="ship_booty">Ship No. 1 Booty:</label><br>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>

    <input type="submit" value="Submit">
  </form>
