<form action="/pirates" method="POST">
  <h1>Pirate</h1>
  <div>
    <label for="pirate_name">Name:</label>
    <input type="text" name="pirate[name]" id="pirate_name">
  </div>
  <div>
    <label for="pirate_weight">Weight:</label>
    <input type="text" name="pirate[weight]" id="pirate_weight">
  </div>
  <div>
    <label for="pirate_height">Height:</label>
    <input type="text" name="pirate[height]" id="pirate_weight">
  </div>


  <h1>Ships</h1>

  <div>
    <label for="ship_name_1">Name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  </div>
  <div>
    <label for="ship_type_1">Type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  </div>
  <div>
    <label for="ship_booty_1">Booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  </div>

  <br>

  <div>
    <label for="ship_name_2">Name:</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  </div>
  <div>
    <label for="ship_type_2">Type:</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  </div>
  <div>
    <label for="ship_booty_2">Booty:</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  </div>

  <br>

  <button type="submit" id="submit">Submit</button>
</form>