<h1>Your Pirate</h1>
<p><%= "#{@pirate.name} has a height of #{@pirate.height} and weighs #{@pirate.weight}" %></p>

<h2>Pirate&apos;s First Ship</h2>
<p><%= "The first ship is a #{@ship1.type} named #{@ship1.name} carrying #{@ship1.booty} as booty." %></p>

<h2>Pirate&apos;s Second Ship</h2>
<p><%= "The second ship is a #{@ship2.type} named #{@ship2.name} carrying #{@ship2.booty} as booty." %></p>