<h1>Display your Pirate here</h1>
<%= "Name: #{@pirate.name}, Height: #{@pirate.weight}, Weight: #{@pirate.height}" %>

<h2>Display your first ship here</h2>
<%= "First Ship Name: #{@ships[0].name}, Ship Type: #{@ships[0].type}, Ship Booty: #{@ships[0].booty}"%>

<h2>Display your second ship here</h2>

<%= "Second Ship Name: #{@ships[1].name}, Ship Type: #{@ships[1].type}, Ship Booty: #{@ships[1].booty}"%>
