<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to the Nested Forms Lab!</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>

    <a href="/new">Create a pirate and ships</a>
  </body>
</html>