<h1>Pirates and Ships!</h1>
<form method='POST' action='/pirates'>
  <p>Pirate's name<input type='text' name='pirate[name]'</p>
  <p>Pirate's weight<input type='text' name='pirate[weight]'</p>
  <p>Pirate's height<input type='text' name='pirate[height]'</p>
  <p>Ship's name<input type='text' id="ship_name_1"name='pirate[ships][][name]'</p>
  <p>Ship's type<input type='text' id="ship_type_1"name='pirate[ships][][type]'</p>
  <p>Ship's booty<input type='text' id="ship_booty_1"name='pirate[ships][][booty]'</p>
  <p>Ship's name<input type='text' id="ship_name_2"name='pirate[ships][][name]'</p>
  <p>Ship's type<input type='text' id="ship_type_2"name='pirate[ships][][type]'</p>
  <p>Ship's booty<input type='text' id="ship_booty_2"name='pirate[ships][][booty]'</p>
  <input type='submit' value="Submit">
</form>
